<li>
	{{name}}
	<button class="devour-burger" data-id="{{id}}" data-newsleep="{{devourBurger}}">
		{{#if devour}}DEVOURED!{{else}}DEVOUR!{{/if}}
	</button>
	{{!-- <button class="delete-burger" data-id="{{this.id}}">YUCK!</button> --}}
</li>
